html {
    background-color: lightgray;
}
body {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: white;
}

.heading {
    font-family: Lora;
}

.text { font-family: Roboto;}